## Aula de Revisão: Pandas, NumPy e Matplotlib com Titanic

## Leitura da base

In [ ]:
import pandas as pd
import seaborn as sns

# Carregar a base
df = sns.load_dataset('titanic')

colunas = {
    'survived': 'sobreviveu',
    'pclass': 'classe',
    'sex': 'sexo',
    'age': 'idade',
    'sibsp': 'irmaos_conjuges_a_bordo',
    'parch': 'pais_filhos_a_bordo',
    'fare': 'tarifa',
    'embarked': 'embarque',
    'class': 'classe_nome',
    'who': 'quem',
    'adult_male': 'adulto_masculino',
    'deck': 'deck',
    'embark_town': 'cidade_embarque',
    'alive': 'vivo',
    'alone': 'sozinho'}

In [ ]:
df = df.rename(columns=colunas)

In [ ]:
df.to_csv('base_titanic.csv')

### 1. Mostrar as primeiras 5 linhas

In [ ]:
df.head()

,sobreviveu,classe,sexo,idade,irmaos_conjuges_a_bordo,pais_filhos_a_bordo,tarifa,embarque,classe_nome,quem,adulto_masculino,deck,cidade_embarque,vivo,sozinho
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

### 2. Número de passageiros por sexo

In [ ]:
df['sexo'].value_counts()

sexo
male      577
female    314
Name: count, dtype: int64

### 3. Idade média por classe

In [ ]:
df.groupby('classe')['idade'].mean()

classe
1    38.233441
2    29.877630
3    25.140620
Name: idade, dtype: float64

### 4. Taxa de sobrevivência por sexo

In [ ]:
df.groupby('sexo')['sobreviveu'].mean()*100

sexo
female    74.203822
male      18.890815
Name: sobreviveu, dtype: float64

### 5. Quantos passageiros embarcaram em cada cidade

In [ ]:
df['cidade_embarque'].value_counts()

cidade_embarque
Southampton    644
Cherbourg      168
Queenstown      77
Name: count, dtype: int64

### 6. Criar uma coluna chamada 'criança' (True se idade < 12)

In [ ]:
df['criança'] = df['idade']< 12

In [ ]:
df

,sobreviveu,classe,sexo,idade,irmaos_conjuges_a_bordo,pais_filhos_a_bordo,tarifa,embarque,classe_nome,quem,adulto_masculino,deck,cidade_embarque,vivo,sozinho,criança
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,False
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,False
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,False

### 7. Passageiros que viajaram sozinhos

### 8. Remover colunas com mais de 20% de valores nulos

### 9. Selecionar passageiros que pagaram mais de 100 de tarifa

### 10. Ordenar por idade decrescente

### 11. Criar array NumPy com idades

### 12. Média e desvio padrão

### 13. Substituir valores nulos de idade pela média

### 14. Criar array binário: 1 se idade > 30, 0 caso contrário

### 15. Percentis 25, 50 e 75 da tarifa

### 16. Aplicar log1p à tarifa

### 17. Número de passageiros com tarifa acima da média

### 18. Criar vetor de 0 a 9 e elevar ao quadrado

### 19. Criar array com valores de idade normalizados

### 20. Filtrar passageiros com idade entre 20 e 40 usando lógica NumPy

### 21. Histograma da idade

### 22. Gráfico de barras da quantidade por sexo

### 23. Gráfico de pizza de sobreviventes

### 24. Boxplot da tarifa

### 25. Boxplot da idade por classe

### 26. Gráfico de dispersão idade vs tarifa

### 27. Gráfico de barras da média de tarifa por classe

### 28. Gráfico de barras empilhado: sobrevivência por sexo

### 29. Gráfico de linha da idade média por classe

### 30. Histograma com duas distribuições: sobreviventes e não sobreviventes